* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 2;
}

header {
  min-height: 20%;
  margin: 0.5rem 0.7rem;
  background-color: rgb(240, 240, 239);
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(179, 169, 169, 0.412);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation_links li {
  list-style: none;
}

.navigation_links a {
  text-decoration: none;
  font-size: 1rem;
  color: #282828;
}

nav h1 {
  font-size: 1.8vw;
  margin-left: 0.5rem;
  font-family: sans-serif;
}

#menu_bar {
  margin: 1rem;
  font-size: 1.3rem;
}

.icons {
  display: flex;
  gap: 1.2rem;
  font-size: 1.2rem;
  margin: 1rem;
}

.slider {
  width: 98%;
  height: 75vh;
  margin: 1.5rem auto;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(79, 79, 79, 0.3);
  position: relative;
}
.slides {
  width: 600%;
  height: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.slides img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.slogen {
  position: absolute;
  top: 40%;
  left: 10%;
  right: 10%;
  font-family: sans-serif;
}

.slogen h3 {
  font-size: 3vw;
  text-align: center;
  color: rgb(243, 255, 255);
  line-height: 2;
}

.slogen p {
  font: 1rem sans-serif;
  text-align: center;
  color: rgb(81, 83, 83);
}

.slogen button {
  position: absolute;
  left: 40%;
  padding: 8px 18px;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin-top: 1rem;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero_section h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.collection_sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  margin-top: 2.2rem;
}

.collection_sec #icons {
  margin-bottom: 2rem;
}

.collection_sec p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
}

/* -----product section---- */
.product_section h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 1rem;
}

.product_section {
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 2rem;
  width: 95%;
  margin: 2rem auto;
}

.card {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width: 250px;
  max-width: 300px;
}

.card img {
  width: 100%;
  height: 30vh;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card h2 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.card #icon {
  width: 18px;
  height: 18px;
}

.card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.card button {
  background-color: #f68a05;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  border: none;
  padding: 8px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.banner2 {
  width: 95%;
  height: auto;
  margin: 3rem auto;
  margin-bottom: 1rem;
}

.banner2 img {
  width: 100%;
  height: 50vh;
  /* object-fit: cover; */
}

.furnitures {
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
}
footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: rgb(53, 67, 76);
}

footer > div {
  min-width: 280px;
  max-width: 320px;
  margin: 01rem auto;
}
.social_links h3 {
  font-size: 1.2rem;
  color: #a5a5a5;
}

.social_links p {
  font-size: 0.9rem;
  color: #fff;
}

.social_links img {
  margin-top: 1rem;
}

.navigation p {
  color: #ffffff;
  font-size: 1rem;
}

.navigation li {
  font-size: 0.9rem;
  color: #929292;
  list-style: none;
}

.navigation li img {
  width: 1vw;
}

.navigation_address p,
span {
  color: #fff;
  font-size:0.8rem;
}
.navigation_address img {
  width: 10%;
}
.projects p {
  font-size: 1rem;
  color: #ffffff;
}
.projects img {
  width: 70%;
  margin-top: 1rem;
}

@media (max-width: 786px) {
  nav h1 {
    font-size: 1rem;
  }
  .navigation_links a {
    font-size: 12px;
  }
  .slogen button{
    padding: 8px 14px;
    font-size: .8rem;

  }
  .collection_sec > div {
    width: 60%;
    text-align: center;
  }
  .card{
    width: 100%;
 
  }
}
